@use "./variables" as *;

body {
    margin: 0;
    min-height: 100vh;
background-color: rgb(48, 52, 51);
    background-size: 400% 400%;

    font-family: 'Inter', sans-serif;
}
.wrapper {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

}
