@use "../styles/variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin card {
  margin-top: 2rem;
  width: clamp(10rem, 70vw, 32rem);
  padding: clamp(0.5rem, 20vw,2rem);

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 0 10px rgba(255, 255, 255, 0.1);

  text-align: center;
  color: $text-color;

  transition: all 0.4s ease;
}
