@use "../styles/mixins" as *;
@use "../styles/variables" as *;

.card {
  @include card;


  &:hover {

    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4),
      inset 0 0 20px rgba(255, 255, 255, 0.15);
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: $text-color;
  }

  .icon {
    width: 5rem;
    height: 5rem;
    margin: 0 auto 1rem;
  }

  .temp {
    font-size: 3rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: $text-color;
  }

  .description {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: $text-color;
    text-transform: capitalize;
  }

  .details {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    font-size: 1rem;

    p {
      margin: 0;
    }
  }
}

.mainText {
  @include flex-center;
  font-size: clamb(2rem, 20%, 4rem);
  color: $text-color;
  margin-bottom: 1rem;
}

.form {
  @include flex-center;
  margin-top: 2rem;

  .inputWrapper {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-radius: 50px;
    padding: 0.4rem 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.15);

    transition: 0.3s ease;

    &:focus-within {
      border: 1px solid rgba(113, 231, 244, 0.6);
      box-shadow: 0 0 15px rgba(113, 231, 244, 0.4);
    }
  }

  .inputCity {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 0.6rem 1rem;
    font-size: 1rem;

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  .button {
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 50px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: rgba(113, 231, 244, 0.4);
      box-shadow: 0 0 20px rgba(113, 231, 244, 0.5);
      transform: translateY(-3px);
    }

    &:active {
      transform: scale(0.96);
    }
  }
  .errorText {
    color: #ff4d4f;
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
  }

  .inputError {
    border: 2px solid #ff4d4f !important;
    animation: shake 0.3s ease;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-4px);
    }

    50% {
      transform: translateX(4px);
    }

    75% {
      transform: translateX(-4px);
    }

    100% {
      transform: translateX(0);
    }
  }
}
